<h1>Edit Brand User</h1>
<%= form_for(@brand,:url=>{:controller=>"admin/brands",:action=>:update,:id=>@brand.id},:html=>{ :method=>:put }) do |f|%>
<%= render :partial=>"form" ,:locals=>{:f=>f}%>
<% end %>