<h1>Edit Seller</h1>
<%= form_for(@seller,:url=>{:controller=>"admin/sellers",:action=>:update,:id=>@seller.id},:html=>{:method=>:put}) do |f| %>
<%= render :partial=>"form", :locals=>{:f=>f}%>
<%end%>