<h1>Edit category</h1>
<%= form_for(@product,:url=>{:controller=>"admin/products",:action=>:update,:id=>@product.id},:html=>{:method=>:put}) do |f| %>
<%= render :partial=>"form", :locals=>{:f=>f}%>
<%end%>